[submodule "Logical-foundations-of-types-and-programming-languages"]
	path = Logical-foundations-of-types-and-programming-languages
	url = git@github.com:leo-leesco/Logical-foundations-of-types-and-programming-languages.git
